.card {
    background: white;
    border-radius: 10px;
    box-shadow: 1px 1px 10px lightgrey;
  }
  
  .card-top {
    padding: 40px 40px 0 40px;
  }
  
  .no-items {
    font-style: italic;
    cursor: default !important;
  }
  
  .card-bottom {
    width: 100%;
    border-radius: 0 0 10px 10px;
    padding: 5px 25px;
    box-sizing: border-box;
    box-shadow: 0 -2px 10px #dedddd;
  }
  
  .list {
    padding: 20px;
  }
  
  .list li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    margin: 15px 0;
    cursor: pointer;
  }
  
  
  .list li:hover .delete-btn {
    color: lightgrey;
  }
  
  .delete-btn {
    float: right;
    color: white;
    margin-left: 10px;
  }
  
  .delete-btn:hover {
    color: grey !important;
    animation: btnHover .3s;
  }
  
  .new-input {
    width: 100%;
    height: 30px;
    border: 1px solid lightgrey;
    border-radius: 50px;
    outline: none;
    padding-left: 10px;
    color: grey;
  }
  
  .check {
    margin: 0 4px;
  }
  
  li.checked {
    text-decoration: line-through;
  }
  
  li span.check {
    display: none;
  }
  
  .shrink {
    animation: shrink .25s;
  }
  
  .list-title {
    border: none;
    color: grey;
    font-size: 1.5em;
    font-weight: bold;
    outline: none;
  }
  
  li.checked .check {
    display: inline;
  }
  
  @keyframes fadeBG {
    from {
      background: white;
    }
    50% {
      width: 45px;
      height: 45px;
    }
    to {
      background: rgba(0, 0, 0, 0.045);
    }
  }
  
  @keyframes btnHover {
    50% {
      transform: scale(1.1);
    }
  }
  
  @keyframes shrink {
    100% {
      transform: scale(0);
    }
  }