{% block header %}

<nav class="black">
    <div class="nav-wrapper container">
        <a href="#!" class="brand-logo">GrowthJournal</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li class="grey"><a href="/">Journal</a></li>
            <li><a href="/cal">Calendar</a></li>
            <li><a href="#">Log Out</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li class="grey"><a href="#">Journal</a></li>
    <li><a href="#">Calendar</a></li>
    <li><a href="#">Log Out</a></li>
</ul>

{% endblock header %}