{% block header %}

<nav class="black">
    <div class="nav-wrapper container">
        <a href="#!" class="brand-logo">GrowthJournal</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li class="grey"><a href="#">Journal</a></li>
            <li><a href="#">Calendar</a></li>
            <li><a href="#">Log Out</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li class="grey"><a href="#">Journal</a></li>
    <li><a href="#">Calendar</a></li>
    <li><a href="#">Log Out</a></li>
</ul>
<div class="row">
    <div class="col s12 l4">
        <h3 style="text-align: center;">21st March 2020</h3>
    </div>

    <div class="col s12 l4"></div>

    <div class="col s12 l4">
        <center>
            <a class="waves-effect waves-light btn-large" style="margin-top: 5%;">Prev</a>
            <a class="waves-effect waves-light btn-large" style="margin-top: 5%;">Next</a>
        </center>
    </div>
</div>

{% endblock header %}