{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col s12 l4">
            <h3 style="text-align: center;">21st March 2020</h3>
        </div>

        <div class="col s12 l4"></div>

        <div class="col s12 l4">
            <center>
                <a class="waves-effect waves-light btn-large" style="margin-top: 5%;">Prev</a>
                <a class="waves-effect waves-light btn-large" style="margin-top: 5%;">Next</a>
            </center>
        </div>
    </div>
{% endblock content %}