{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col s12 l4">
            <h3 style="text-align: center;">21st March 2020</h3>
        </div>

        <div class="col s12 l4"></div>

        <div class="col s12 l4">
            <center>
                <a class="waves-effect waves-light btn-large" style="margin-top: 5%;">Prev</a>
                <a class="waves-effect waves-light btn-large" style="margin-top: 5%;">Next</a>
            </center>
        </div>
    </div>
    
    <div class="row" style="margin:2%">
        <!-- todo-->
            <div class="content-card col s12 l4">
                <div class="card-top">
                    <div class="content-card-header">
                        <input class="list-title" value="To Do" readonly></input>
                    </div>
                    <ul class="list">
                        <li class="no-items">Looks like you're all done!</li>
                    </ul>
                </div>
                <div class="card-bottom">
                    <input class="new-input" type="text">
                </div>
            </div>

        <!--Personal Goals-->

        <div class="content-card col s12 l3">
            <div class="card-top">
                <div class="content-card-header">
                    <input class="list-title" value="Personal Goals" readonly></input>
                </div>
                <ul class="list">
                    <li class="no-items">Looks like you're all done!</li>
                </ul>
            </div>
            <div class="card-bottom">
                <input class="new-input" type="text">
            </div>
        </div>

        <!--Professional Goals-->

        <div class="content-card col s12 l3">
            <div class="card-top">
                <div class="content-card-header">
                    <input class="list-title" value="Professional Goals" readonly></input>
                </div>
                <ul class="list">
                    <li class="no-items">Looks like you're all done!</li>
                </ul>
            </div>
            <div class="card-bottom">
                <input class="new-input" type="text">
            </div>
        </div>
    </div>

    

{% endblock content %}