<!DOCTYPE html>
<html lang="en">
    <head>
        <title>GrowthJournal</title>
        {% load staticfiles %}
        <link href="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.css" rel="stylesheet">
        <script src="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script src="{% static 'js/index.js' %}" type="text/javascript"></script>
    </head>
    <body>
        <button class="mdc-button foo-button">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">Button</span>
        </button>
    </body>

</html>